.custom-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.custom-checkbox-label {
  color: #616161;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
}

.custom-checkbox-error-message {
  color: #ef4444;
  font-size: 0.75rem;
}
