button.buttonCard  {
  width: 9rem;
  height: 2.5rem;
  border-radius: 4.78125rem;
  background: #00a8ea;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  cursor: pointer;
  border: none;
}
